


/* Body */
body {
    font-size: 1em;
    margin: 0px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-seri;
    color: #333;
    background-color: #fff;
}



/* Header and Footer*/

body header {
    background: #353b56;
}

header,footer {
    color: #fff;
    padding: 1em 2em;
}


header, footer, h1, h2, h3, h4, h5, h6, nav {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

header a, header a:focus, header a:hover {
    color: #fff;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav > li a:hover{
    text-decoration: none!important;
}



header>div {
    float: right;
}

/* nav */

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.nav > li {
    position: relative;
    display: block;
}

body .nav >li.navli > a {
    background-color: #64c9dc;
    border-right: 5px solid #0faccb;
}


.nav >li.navli >a {
    color: #fff;
    text-decoration: none;
}

.nav >li >a {
    padding: 0.5em 0.5em 0.5em 2em;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.3em;
}

.nav >li >a:hover {
    background-color: #eeeeee;
}




@media (min-width: 768px) {
    nav.table_nav {
        position: fixed;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .table_nav{
        width: 16.66666667%;
    }
}


/* ?main */
.container {
    padding-right: 250px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
}
/* main h1 */

#lab1{
    border-bottom: 1px solid #0FACCB;
    margin-top: 1em;
    padding-bottom: 5px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 1px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

p.bar1 {
    border: 1px solid rgb(160, 159, 129);
    padding: 0.5em 1em;
    background: rgb(250, 255, 226) none repeat scroll 0% 0%;
}

p {
    margin: 0 0 10px;
}

b, strong {
    font-weight: 700;
}


/* H2 */
.h2, h2 {
    font-size: 30px;
}

.h1, h1 {
    font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

*{
    box-sizing: border-box;
}

ol,ul {
     margin-top: 0;
     margin-bottom: 10px;

}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}




/* footer */
body footer {
    background: #999;
}

footer {
    background: #333;
    text-align: right;
    margin-top: 2em;
    unicode-bidi: isolate;
    width: 100%;
    padding: 20px 0px;
}

img {
    vertical-align: middle;
  }  

.imgdog {
    height:"700px";
}

.img2{
    width:"600px/";
}
